body{
    overflow-x: hidden;
}
.topbanner {
    position: relative;
    height: 720px; /* Ajusta la altura según sea necesario */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: none; /* Para cubrir todo el área del contenedor */
}

.topbanner .col-sm-12 {
    position: relative;
    z-index: 1;
    color: #fff; /* Ajusta según sea necesario */
}

.topbanner .infoStreamer {
    position: relative;
    z-index: 1;
    color: #fff; /* Ajusta según sea necesario */
}

.infoStreamer{
    background-color: #000;
    color: #f2f2f2;
    padding: 5rem;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.3);
}
.iconosSponsors{
    bottom: 2rem;
    left: 20%;
    right: 20%;
}
.barraAlejoTSL{
    background-color: #e04284;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.infoAlejoTSL{
    background-color: #000;
}
h2{
    font-family: "Open Sans", sans-serif;
    font-weight:900;
    font-size: 4rem;
    font-style: italic;
}
h2 span{
    color: #e04284;
}
h1{
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}
h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 3rem;
    background: #FFFFFF;
background: linear-gradient(to bottom, #FFFFFF 29%, #FFAAB7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}